.abv-form {
    margin-top: 50px;
}

.O-Gravity {
    margin-bottom: 15px;
    border-radius: 5px;
}

.F-Gravity {
    margin-bottom: 15px;
    border-radius: 5px;
}

.button {
    margin-bottom: 50px;
    background-color: #EF0107;;
    color: white;
    border-radius: 5px;
}

.alc-declare {
    color: white;
}